version: '3.8'

services:
  pharmacy-web:
    build: .
    container_name: pharmacy-app
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - NODE_ENV=development
    restart: unless-stopped
